{% load static %}


<HTML>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> All About Books</title>
        <link rel = "stylesheet" href = "{% static 'homepage/style.css' %}"/>
    <body class ='text-center'>
        <div class="container d-flex w-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
              <h3 class="masthead-brand">Bookify Home</h3>
              <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-link" href="#">Contact</a>
              </nav>
            </div>
        </header>
        <main class="inner cover" role="main">
             <img src = "{% static 'homepage/logo.png' %}" width="300"/>
            <h1 class="cover-heading">Bookify, the Future</h1>
            <p class="lead">A book recommendation site that changes the way you expand your library.</p>
            <p class="lead">
              <a class="btn btn-lg btn-secondary" href="{% url 'login' %}">LOGIN</a>
            </p>
        </main>

        <footer class = "footer">Team 20191003</footer>
    </div>
    </body>
</HTML>